**Big Data Analysis on NYC Taxi Trips Using PySpark**

This project explores large-scale analysis of NYC Yellow Taxi trip data using PySpark to demonstrate scalability and performance on real-world datasets. We performed data cleaning, aggregation, and exploratory analysis to uncover patterns in fare amounts, passenger trends, and trip distances. The project showcases how big data tools efficiently handle millions of records and derive actionable insights.

**Step 1 : Mount drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Step 2 : Environment Setup**

In [ ]:
#import libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, avg, desc, when

In [ ]:
#initialize spark
spark = SparkSession.builder.appName("Big Data Analysis - NYC Taxi Trips").getOrCreate()

**Step 3 : Load Dataset**

In [ ]:
#file path
file_path = "/content/drive/MyDrive/Big Data/yellow_tripdata_2015-01.csv"

#load the CSV file
df = spark.read.csv(file_path, header=True, inferSchema=True)

#inspect the schema and a sample data
df.printSchema()
df.show()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|  -73.993896484375|  40.7501106262207|         1|                 N|-73.97478485107422| 40.75061798095703|           1|       12.0|  1.0|    0.5|      3.25|         0.0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|          3.3|-74.00164794921875|  40.7242431640625|         1|                 N|-73.99441528320312| 40.75910949707031|           1|       14.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|          1.8|-73.96334075927734| 40.80278778076172|         1|                 N|-73.95182037353516| 40.82441329956055|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          0.5|-74.00908660888672| 40.71381759643555|         1|                 N|-74.00432586669922| 40.71998596191406|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|          3.0|-73.97117614746094|40.762428283691406|         1|                 N|-74.00418090820312|40.742652893066406|           2|       15.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        16.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:53:52|              1|          9.0|-73.87437438964844|  40.7740478515625|         1|                 N|-73.98697662353516| 40.75819396972656|           1|       27.0|  0.5|    0.5|       6.7|        5.33|                  0.3|       40.33|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:58:31|              1|          2.2| -73.9832763671875|40.726009368896484|         1|                 N|-73.99246978759766|  40.7496337890625|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:42:20|              3|          0.8| -74.0026626586914|  40.7341423034668|         1|                 N|-73.99501037597656| 40.72632598876953|           1|        7.0|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:39|  2015-01-10 21:11:35|              3|         18.2|-73.78304290771484| 40.64435577392578|         2|                 N|-73.98759460449219| 40.75935745239258|           2|       52.0|  0.0|    0.5|       0.0|        5.33|                  0.3|       58.13|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:40:44|              2|          0.9|-73.98558807373047|40.767948150634766|         1|                 N|-73.98591613769531| 40.75936508178711|           1|        6.5|  0.5|    0.5|      1.55|         0.0|                  0.3|        9.35|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:41:39|              1|          0.9|-73.98861694335938| 40.72310256958008|         1|                 N|   -74.00439453125| 40.72858428955078|           1|        7.0|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:43:26|              1|          1.1|-73.99378204345703| 40.75141906738281|         1|                 N| -73.9674072265625| 40.75721740722656|           1|        7.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.8|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:35:23|              1|          0.3|-74.00836181640625|40.704376220703125|         1|                 N|-74.00977325439453|40.707725524902344|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 21:03:04|              1|          3.1|-73.97394561767578| 40.76044845581055|         1|                 N|-73.99734497070312| 40.73521041870117|           1|       19.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        23.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:39:23|              1|          1.1|-74.00672149658203| 40.73177719116211|         1|                 N| -73.9952163696289| 40.73989486694336|           2|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|
|       2| 2015-01-15 19:05:39|  2015-01-15 19:32:00|              1|         2.38|-73.97642517089844|40.739810943603516|         1|                 N|-73.98397827148438| 40.75788879394531|           1|       16.5|  1.0|    0.5|      4.38|         0.0|                  0.3|       22.68|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:21:00|              5|         2.83|-73.96870422363281| 40.75424575805664|         1|                 N|-73.95512390136719| 40.78685760498047|           2|       12.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        14.3|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:28:18|              5|         8.33| -73.8630599975586| 40.76958084106445|         1|                 N|-73.95271301269531| 40.78578186035156|           1|       26.0|  1.0|    0.5|      8.08|        5.33|                  0.3|       41.21|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:36|              1|         2.37|-73.94554138183594|40.779422760009766|         1|                 N|-73.98085021972656| 40.78608322143555|           1|       11.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        13.3|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:22|              2|         7.13|-73.87445831298828|40.774009704589844|         1|                 N|-73.95237731933594|40.718589782714844|           1|       21.5|  1.0|    0.5|       4.5|         0.0|                  0.3|        27.8|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

**Step 4 : Data Cleaning**

In [ ]:
#check total record count
print("Total record count: ",df.count())

#count non null values per column
df.select([count(col(c)).alias(c) for c in df.columns]).show()

#filter out invalid rows
df_cleaned = df.filter((col("fare_amount")>0) & (col("trip_distance")>0) & (col("passenger_count")>0))

#record count post cleaning
print("Record after cleaning: ",df_cleaned)

Total record count:  12748986
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+--------+--------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|RateCodeID|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|   extra| mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+--------+--------+----------+------------+---------------------+------------+
|12748986|            12748986|             12748986|       12748986|     12748986|        12748986|       12748986|  12748986|          12748986|         12748986|        12748986|    12748986|   12748986|12748986|12748986|  12748986|    12748986|             12748983|    12748986|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+--------+--------+----------+------------+---------------------+------------+

Record after cleaning:  DataFrame[VendorID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: int, trip_distance: double, pickup_longitude: double, pickup_latitude: double, RateCodeID: int, store_and_fwd_flag: string, dropoff_longitude: double, dropoff_latitude: double, payment_type: int, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double]

**Step 5 : Exploratory Data Analysis**

**5.1 Top 5 most common passenger count**

In [ ]:
from pickle import FALSE
df_cleaned.groupBy("passenger_count").count().orderBy("count", ascending = False).show()

+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|              1|8926120|
|              2|1805631|
|              5| 695437|
|              3| 526031|
|              6| 453123|
|              4| 252052|
|              0|   6176|
|              7|      7|
|              9|      6|
|              8|      3|
+---------------+-------+

**5.2  Average Fare by Trip Distance Bucket**

In [ ]:
#create bucket column
df_buckets= df_cleaned.withColumn("distance_bucket",
 when(col("trip_distance")<2,"<2 KM")
.when((col("trip_distance")>=2) & (col("trip_distance")<5),"2-5 km")
.otherwise("> 5 KM"))

#group by bucket and calculate avg fare
df_buckets.groupBy("distance_bucket").agg(avg("fare_amount") \
.alias("avg_fare"))\
.orderBy("distance_bucket")\
.show()

+---------------+------------------+
|distance_bucket|          avg_fare|
+---------------+------------------+
|         2-5 km|13.088639505102561|
|          <2 KM|  6.93148657784056|
|         > 5 KM| 31.27973626017181|
+---------------+------------------+

5.3 Top 5 most expensive trips

In [ ]:
df_cleaned.select("trip_distance","fare_amount","mta_tax","tip_amount","tolls_amount","improvement_surcharge","total_amount") \
.orderBy(col("total_amount").desc())\
.show(5)

+-------------+-----------+-------+----------+------------+---------------------+------------+
|trip_distance|fare_amount|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+-------------+-----------+-------+----------+------------+---------------------+------------+
|         5.32|       22.0|    0.5| 3950588.8|         0.0|                  0.3|   3950611.6|
|          1.7|     4008.0|    0.5|       0.0|         0.0|                  0.3|      4009.3|
|          0.4|     3005.5|    0.5|       0.0|         0.0|                  0.3|     3006.35|
|         18.5|       52.0|    0.5|       0.0|     1450.09|                  0.3|     1502.89|
|         10.8|       32.5|    0.5|       0.0|     1000.66|                  0.3|     1034.46|
+-------------+-----------+-------+----------+------------+---------------------+------------+
only showing top 5 rows